*{
    margin:0px;
    padding: 0px;
}

.general{
    margin:auto;
    margin-top: 5%;  
    background-color: darkturquoise;
    width: 95%;
    height: 100%;
}
.titulo {
    margin: 0 auto;
    width: 90%;
    height: 70%;
    text-align: center;
    background-color: royalblue;
}

.cuadroProveedores{
    
    margin: 0 auto;
    background-color: palevioletred;
}
